# API配置示例。这里务必：
# 1. 将 .env.example修改为 .env
# 2. 将以下变量替换为你实际使用的模型
API_KEY= "sk-helloQwenPlus"
API_URL= "https://dashscope.aliyuncs.com/compatible-mode/v1"
API_MODEL= "qwen-plus-2025-07-28"
API_TIMEOUT=60
# 公告文本
ANNOUNCEMENT_TEXT=欢迎使用！本系统仅用于 Agent-MCP 学习和研究目的。！！！投资有风险，入市需谨慎！！！